In [1]:
from glob import glob
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
# Browsing the data files
files = glob('data/*.csv')
files

['data/training_values.csv',
 'data/training_labels.csv',
 'data/SubmissionFormat.csv',
 'data/test_set.csv']

In [10]:
# Reading the training dataset
training_data = pd.read_csv('data/training_values.csv')

# Reading the labels dataset
training_labels = pd.read_csv('data/training_labels.csv')

In [11]:
# Assigning labels to the training data
training_data['status_group'] = training_labels.status_group

In [5]:
# Looking the dataset
training_data.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [6]:
training_data.shape

(59400, 41)

In [12]:
training_data = training_data.drop(['id', 'payment_type', 
                                    'funder', 'installer',
                                    'water_quality', 'quantity_group',
                                    'source', 'waterpoint_type'], axis=1)

In [13]:
training_data.shape

(59400, 33)

In [14]:
training_data['date_recorded'] = pd.to_datetime(training_data.date_recorded)