### Contents

1. [Importing the libraries](#1.-Importing-the-libraries)
1. [Reading the dataset having no ambiguous columns](#2.-Reading-the-dataset-having-no-ambiguous-columns)
1. [Columns having missing values](#3.-Columns-having-missing-values)
1. [Imputing scheme management](#4.-Imputing-scheme-management)

## 1. Importing the libraries

In [1]:
from glob import glob
import pandas as pd

## 2. Reading the dataset having no ambiguous columns

In [2]:
files = glob('../data/v1/*.csv')

files

['../data/v1/train_cleaned.csv', '../data/v1/test_cleaned.csv']

In [3]:
# Reading train and test data
df_train = pd.read_csv(files[0])
df_test = pd.read_csv(files[-1])

## 3. Columns having missing values

In [4]:
df_train.columns[df_train.isnull().sum() > 0].tolist()

['funder',
 'installer',
 'subvillage',
 'public_meeting',
 'scheme_management',
 'scheme_name',
 'permit']

In [5]:
df_train.scheme_management.unique()

array(['VWC', 'Other', nan, 'Private operator', 'WUG', 'Water Board',
       'WUA', 'Water authority', 'Company', 'Parastatal', 'Trust', 'SWC',
       'None'], dtype=object)

## 4. Imputing scheme management

#### After doing research for the values in `scheme_management` the following things have been observed:
* WUG and WUA are all same
* Water Authority and Water Board
* Trust and SWC are non-profit based, VWC
* Parastatal, Private operator and Company

#### Replacing will be done in the following way:
* WUA -> WUG
* VWC, SWC -> Trust
* Water authority -> Water Board
* Private Operator, Parastatal -> Company

In [6]:
temp_df = df_train.copy()

In [7]:
temp_df.scheme_management.value_counts(dropna=False)

VWC                 36793
WUG                  5206
NaN                  3877
Water authority      3153
WUA                  2883
Water Board          2748
Parastatal           1680
Private operator     1063
Company              1061
Other                 766
SWC                    97
Trust                  72
None                    1
Name: scheme_management, dtype: int64

In [8]:
# temp_df['scheme_management'] = temp_df.scheme_management.str.replace('WUA', 'WUG')
# temp_df['scheme_management'] = temp_df.scheme_management.str.replace('VWC', 'Trust')
# temp_df['scheme_management'] = temp_df.scheme_management.str.replace('SWC', 'Trust')
# temp_df['scheme_management'] = temp_df.scheme_management.str.replace('Water authority', 'Water Board')
# temp_df['scheme_management'] = temp_df.scheme_management.str.replace('Parastatal', 'Water Board')
# temp_df['scheme_management'] = temp_df.scheme_management.str.replace('Private operator', 'Company')

In [9]:
y = temp_df.loc[(temp_df.scheme_management.isna()), 
                ['scheme_management', 'scheme_name']]['scheme_name'].value_counts().reset_index()

y

                                     index  scheme_name
0                Lake Victoria pipe scheme           19
1                                    Ng'au           18
2                                        B           16
3                       Segese pipe scheme           15
4                                   Migoli           14
..                                     ...          ...
119                    Mwadui piped scheme            1
120                                 Hgodin            1
121                               QWICKWIN            1
122          Kinyinya gravity water supply            1
123  Kirua kahe gravity water supply trust            1

[124 rows x 2 columns]

In [10]:
y['scheme_name'].unique()

array([19, 18, 16, 15, 14, 13,  9,  8,  6,  5,  4,  3,  2,  1])

In [11]:
for i in y.loc[y['scheme_name'] == 3, 'index']:
    print(i)

Mradi wa maji sikonge
Iseke
Borehole
Mkutimango water supply